BACKENDEXERCICE_SECRET_KEY=
DB_USER=
DB_NAME=
DB_HOST=
DB_PASSWORD=
TEST_SECURITY_KEY=
DB_TEST_USER=
DB_TEST_NAME=
DB_TEST_PASSWORD=
DB_TEST_HOST=
BACKENDEXERCICE_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
DEBUG=